doctype html
html
    body
h1
    | Customer
h3
    | register
    form(action='/sign_up', method='post', enctype='multipart/form-data')
        | first_name :
        input(type='text', name='first_name')
        | last_name :
        input(type='text', name='last_name')
        | phone no :
        input(type='text', name='phone_no')
        | email :
        input(type='text', name='email')
        | password :
        input(type='password', name='password')
        | Lat :
        input(type='text', name='lat')
        | Lng:
        input(type='text', name='lng')
        | device type:
        input(type='text', name='device_type')
        | device token :
        input(type='text', name='device_token')
        | app version :
        input(type='text', name='app_version')
        | user_image:
        input(type='file', name='user_image')
        br
        input(type='submit', value='submit')
h3
    | email login
    form(action='/login', method='post' )
        | email :
        input(type='text', name='email')
        | password :
        input(type='password', name='password')
        br
        input(type='submit', value='submit')
h3
    | access token login
    form(action='/access_login', method='post' )
        | access token:
        input(type='text', name='access_token')
        br
        input(type='submit', value='submit')
h3
    | logout
    form(action='/logout', method='post' )
        | access token:
        input(type='text', name='access_token')
        br
        input(type='submit', value='submit')

h3
    | edit profile
    form(action='/edit', method='post', enctype='multipart/form-data')
        | first_name :
        input(type='text', name='first_name')
        | last_name :
        input(type='text', name='last_name')
        | phone no :
        input(type='text', name='phone_no')
        | email :
        input(type='text', name='email')
        | user_image:
        input(type='file', name='user_image')
        | access token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3
    | forgot password
    form(action='/forgot', method='post' )
        | email :
        input(type='text', name='email')
        input(type='submit', value='send')
h3
    | reset password
    form(action='/reset', method='post' )
        | link :
        input(type='text', name='link')
        | new password :
        input(type='password', name='newpass')
        input(type='submit', value='reset')

h3
    | request drivers
    form(action='/request_drivers', method='post' )
        | access token :
        input(type='text', name='access_token')
        | lat :
        input(type='text', name='lat')
        | lng :
        input(type='text', name='lng')
        | scope :
        input(type='text', name='scope')
        input(type='submit', value='submit')

h3
    | search drivers
    form(action='/search_drivers', method='post' )
        | lat :
        input(type='text', name='lat')
        | lng :
        input(type='text', name='lng')
        | scope :
        input(type='text', name='scope')
        input(type='submit', value='submit')


hr
hr
h1
    | Driver
h3
    | register
    form(action='/driver_sign_up', method='post', enctype='multipart/form-data')
        | first_name :
        input(type='text', name='first_name')
        | last_name :
        input(type='text', name='last_name')
        | phone no :
        input(type='text', name='phone_no')
        | email :
        input(type='text', name='email')
        | password :
        input(type='password', name='password')
        | Lat :
        input(type='text', name='lat')
        | Lng:
        input(type='text', name='lng')
        | device type:
        input(type='text', name='device_type')
        | device token :
        input(type='text', name='device_token')
        | app version :
        input(type='text', name='app_version')
        | user_image:
        input(type='file', name='user_image')
        br
        input(type='submit', value='submit')

h3
    | email login
    form(action='/driver_login', method='post' )
        | email :
        input(type='text', name='email')
        | password :
        input(type='password', name='password')
        br
        input(type='submit', value='submit')
h3
    | access token login
    form(action='/driver_access_login', method='post' )
        | access token:
        input(type='text', name='access_token')
        br
        input(type='submit', value='submit')
h3
    | edit profile
    form(action='/driver_edit', method='post', enctype='multipart/form-data')
        | first_name :
        input(type='text', name='first_name')
        | last_name :
        input(type='text', name='last_name')
        | phone no :
        input(type='text', name='phone_no')
        | email :
        input(type='text', name='email')
        | user_image:
        input(type='file', name='user_image')
        | access token :
        input(type='text', name='access_token')
        input(type='submit', value='submit')
h3
    | forgot password
    form(action='/driver_forgot', method='post' )
        | email :
        input(type='text', name='email')
        input(type='submit', value='send')
h3
    | reset password
    form(action='/driver_reset', method='post' )
        | link :
        input(type='text', name='link')
        | new password :
        input(type='password', name='newpass')
        input(type='submit', value='reset')

h3
    | Driver Request Accept
    form(action='/driver_accept', method='post' )
        | driver access token :
        input(type='text', name='access_token')
        | user_id:
        input(type='text', name='user_id')
        | lat:
        input(type='text', name='lat')
        | lng:
        input(type='text', name='lng')
        input(type='submit', value='submit')

h3
    | Start Ride
    form(action='/start_ride', method='post' )
        | order_id :
        input(type='text', name='order_id')
        | lat:
        input(type='text', name='lat')
        | lng:
        input(type='text', name='lng')
        input(type='submit', value='submit')

h3
    | End Ride
    form(action='/end_ride', method='post' )
        | order_id :
        input(type='text', name='order_id')
        | lat:
        input(type='text', name='lat')
        | lng:
        input(type='text', name='lng')
        input(type='submit', value='submit')
